@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --sidebar-width: 20rem;

    --radius: 0.5rem;

    /* custom vidoe player style */
    --video-border-radius: 2px;
  }

  .dark {
    color-scheme: dark;
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 266 54% 39%;
    --primary-foreground: 266 52% 60%;
    --primary-lite: 266 28% 16%;

    --secondary: 210 2% 23%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 2% 23%;
    --muted-foreground: 210 1% 65%;

    --accent: 210 2% 23%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 66% 38%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 1% 18%;
    --input: 0 1% 20%;
    --ring: 0 1% 30%;

    --card-gap: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  * {
    scrollbar-color: hsl(var(--secondary)) hsl(var(--card));
    scrollbar-width: 5px;
  }

  body {
    @apply bg-background text-foreground;
  }
  span {
    @apply text-muted-foreground;
  }
}

.anime-slider-image-mask {
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.9;
}

@screen xl {
  .anime-slider-image-mask {
    mask-image: none;
  }
}

.react-player__preview {
  @apply h-full;
}

iframe,
.watch_play,
.play-video {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.swiper-pagination {
  @apply !bottom-3 !left-3 flex gap-2;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.clip-right {
  padding-right: 7px;
  margin-right: -2px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.clip-left {
  padding-left: 7px;
  margin-left: -2px;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.clip-both {
  padding-left: 7px;
  padding-right: 7px;
  margin-right: -2px;
  margin-left: -2px;

  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
