@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --sidebar-width: 20rem;

    --radius: 0.5rem;
  }

  .dark {
    color-scheme: dark;
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 265 54% 39%;
    --primary-foreground: 222.2 47.4% 100%;

    --secondary: 210 2% 23%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 2% 23%;
    --muted-foreground: 210 1% 65%;

    --accent: 210 2% 23%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 66% 38%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 1% 18%;
    --input: 0 1% 20%;
    --ring: 0 1% 30%;

    --card-gap: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    /* 
     */
  }

  * {
    scrollbar-color: hsl(var(--secondary)) hsl(var(--card));
  }

  body {
    @apply bg-background text-foreground;
  }
  span {
    @apply text-muted-foreground;
  }
}

.react-player__preview {
  @apply h-full;
}

.anime-slider-image {
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

iframe,
.watch_play,
.play-video {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.anime-card-image {
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.091) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.swiper-pagination {
  @apply !bottom-3 !left-3 flex gap-2;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.clip-right {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.clip-left {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
